<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../../assets/diabetesblanco.png" class="logo-nav" alt="" />
    </a>
  </nav>
  <section class="img-section">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-5 offset-md-1 col-xs-12 no-padding">
            <div class="card">
              <div class="alert alert-danger" role="alert" *ngIf="errors">
                <ul>
                  <li *ngFor="let error of errors">
                    {{error}}
                  </li>
                </ul>
              </div>
              <div class="alert alert-success" role="alert" *ngIf="success">
                Contraseña cambiada exitosamente. <a routerLink="/login">Ir a iniciar sesión</a>
              </div>
              <div class="card-body">
                <form
                  class="form-signin"
                  [formGroup]="resetPasswordForm"
                  (ngSubmit)="resetPassword()"
                >
                  <div class="text-center mb-4">
                    <h1>CAMBIAR CONTRASEÑA</h1>
                  </div>

                  <div class="form-group">
                    <div class="form-label-group" style="text-align:start">
                      <input
                        type="password"
                        id="inputPassword"
                        class="form-control"
                        placeholder="Contraseña"
                        required
                        formControlName="password"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="form-label-group" style="text-align:start">
                        <input
                          type="password"
                          id="inputConfirm"
                          class="form-control"
                          placeholder="Confirmar contraseña"
                          required
                          formControlName="confirm"
                        />
                      </div>
                    </div>
                  <button class="btn btn-lg btn-pink" style="color: white">
                   Cambiar
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-xs-12 no-padding">
            <div class="card right-content">
              <div class="card-body">
                <div class="right-text">
                  <h1 style="color: white">¿NO TIENES CUENTA?</h1>
                  <div class="form-group">
                    <button
                      class="btn btn-lg btn-pink"
                      style="color: white"
                      [routerLink]="['../signup']"
                    >
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
