<div class="container">

    <p class ="titulo">Curso de Bomba de Insulina</p>

  <br>
  <div class="container2">
    <div class="row ">
      <p>
        <!--Uso de inversas para ahorrar tiempos, esto se tiene que cambiar a valor por base de datos-->
        <button class="button" (click)="activo = !activo">Activar/Desactivar</button> Activar portal "Bomba de Insulina
      </p>
    </div>
  <br>
    <div class="row ">
      <p>
        <button class="button"><a href="http://bomba.dialogodiabetescare.com/bombaInsulina/index.htm" target="_blank">Ver curso</a></button>
      </p>
    </div>
  </div>
  <p>Estado del Link: {{mensaje()}}</p>
</div>
