<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/diabetesblanco.png" class="logo-nav" alt="" />
  </a>
</nav>
<section class="img-section">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-5 offset-md-1 col-xs-12 no-padding">
          <div class="card">
            <div class="alert alert-success" role="alert" *ngIf="success">
              Si el correo ingresado es correcto, deberías recibir un correo con
              instrucciones en los próximos minutos
            </div>
            <div class="card-body">
              <form
                class="form-signin"
                [formGroup]="recoverPasswordForm"
                (ngSubmit)="sendRecoverPassword()"
              >
                <div class="text-center mb-4">
                  <h1>RECUPERA TU CONTRASEÑA</h1>
                </div>

                <div class="form-group">
                  <div class="form-label-group">
                    <input
                      type="email"
                      id="inputEmail"
                      class="form-control"
                      placeholder="Correo electrónico"
                      required
                      autofocus
                      formControlName="email"
                    />
                  </div>
                </div>
                <button class="btn btn-lg btn-pink" style="color: white">
                  Recuperar
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-xs-12 no-padding">
          <div class="card right-content">
            <div class="card-body">
              <div class="right-text">
                <h1 style="color: white">¿NO TIENES CUENTA?</h1>
                <div class="form-group">
                  <button
                    class="btn btn-lg btn-pink"
                    style="color: white"
                    [routerLink]="['../signup']"
                  >
                    Registrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
