<div class="row">
  <div *ngIf="finished" class="col-12">
    <button
      class="btn btn-primary"
      style="float: right; margin-top: 20px; margin-bottom: 20px;"
      (click)="goToNextLesson()"
    >
      {{ isLastLesson ? 'Finalizar lección' : 'Ir al siguiente tema' }}
    </button>
  </div>
  <div *ngIf="element$ | async as element" class="col-12">
    <div *ngIf="element.frame; else showActivity" class="element-container">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin-top: 40px"
      >
        <iframe
          [src]="this.frameUrl"
          class="resp-iframe"
          scrolling="no"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          #presentationFrame
        ></iframe>
      </div>
      <audio autoplay style="display: none;" id="player">
        <source
          [src]="element.audio_url + '#t=' + times[currentSlide]"
          type="audio/mpeg"
        />
        Your browser does not support the audio element.
      </audio>
      <br>
      <div>
        <div>
          <div class="row">
            <div class="col-md-4">
                <span (click)="changeOption('comments')" [ngClass]="{'bolder': chosenOption === 'comments'}">Comentarios</span>
            </div>
            <div class="col-md-4">
                <span (click)="changeOption('bibliography')" [ngClass]="{'bolder': chosenOption === 'bibliography'}">Bibliografía</span>
            </div>
          </div>
        </div>
        <hr>
        <div *ngIf="chosenOption ==='comments'">
          <div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Nuevo comentario</label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <button class="btn btn-primary" (click)="createComment()">Crear comentario</button>
                </div>
              </div>
              <br>
              <textarea class="form-control" rows="5" [disabled]="content === null ? true : false" [(ngModel)]="content">{{content}}</textarea>
            </div>
          </div>
          <div>
              <div>
                <div class="card" *ngFor="let comment of comments" style="margin-bottom: 5%">
                  <div class="card-body">
                    <h5 class="card-title">{{comment?.user.first_name}} {{comment?.user.last_name}}</h5>
                    <span class="card-text pull-left">{{comment.content}}</span>
                  </div>
                  <div style="position:absolute; right: 10px; top: 20px;">{{comment.created_at | date: 'dd/MM/yyyy HH:mm'}}</div>
                </div>
              </div>
          </div>
        </div>
        <div *ngIf="chosenOption ==='bibliography'">
            <div>
              <h3>Bibliografía</h3>
              <ul>
                <li *ngFor="let ref of references">
                  <span>{{ref.body}} {{ref.url}}</span>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <ng-template #showActivity>
      <div id="show-activity" class="element-container"></div>
    </ng-template>
  </div>
</div>
