.content-container {
  margin-top: 30px;
}

.bolder {
  font-weight: bold;
}
.create-button {
  background: #fff;
  color: #b4b4b4;
  font-size: 23px;
  padding: 20px 0px;
  box-shadow: none;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  margin: 20px 0px;
  outline: none;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
.courses {
  background: #fff;
  padding: 0;
  margin-top: 25px;
  height: auto;
  border: 1px solid #707070;
}
.course {
  text-overflow: ellipsis;
  // border-radius: 15px;
  margin: 15px 0px;
  margin-bottom: 40px;
  background: #fff;
  height: auto;
  padding: 0;
  .course-title {
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    background: #1288ca;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 50px 10px;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: #fff;
  }
  .course-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    .upper {
      justify-content: normal;
      border-bottom: 1px solid #707070;
      padding: 20px;
    }
    h2 {
      color: #707070;
      font-weight: 400;
      font-size: 32px;
      margin: 0;
      .trash-icon,
      .edit-icon {
        margin: 0 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        float: right;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          opacity: 0.6;
        }
      }
      .edit-icon {
        color: #1c86ee;
      }
      .trash-icon {
        color: #ff2800;
      }
    }
    p {
      font-size: 14px;
      text-overflow: ellipsis;
      margin-bottom: 40px;
    }
    .presentations {
      ul {
        list-style-type: none;
        li {
          color: #707070;
          display: flex;
          padding: 15px 0;
          align-items: center;
          cursor: pointer;
          .presentation-div {
            display: flex;
            align-items: center;
            cursor: pointer;
            width: 100%;
          }
          .presentation-position {
            padding: 3px 8px;
            height: 33px;
            border-radius: 3px;
            border: 1px solid #707070;
            font-size: 20px;
            text-align: center;
            align-self: center;
          }
          .presentation-title {
            font-size: 20px;
            font-weight: 900;
            align-self: center;
            margin-left: 30px;
            flex: 1;
          }
          .presentation-date {
            margin-right: 20px;
            font-size: 20px;
          }

          .presentation-icons {
            margin-right: 20px;
            .edit-icon,
            .trash-icon {
              margin: 0 10px;
              width: 20px;
              height: 20px;
              &:hover {
                opacity: 0.7;
              }
              &:active {
                opacity: 0.6;
              }
            }

            .edit-icon {
              color: #1c86ee;
            }

            .trash-icon {
              color: #ff2800;
            }
          }
        }
      }
    }
    .buttons {
      .pink-button {
        background: #ff62a5;
        color: #fff;
        text-transform: uppercase;
        box-shadow: none;
        text-decoration: none;
        border: none;
        font-size: 16px;
        padding: 15px 45px;
        border-radius: 20px;
        font-weight: 600;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

.create-presentation-modal,
.create-course-modal,
.create-activity-modal {
  input,
  textarea {
    margin-bottom: 20px;
  }
}

.create-activity-modal {
  button {
    margin: 15px 5px;
    margin-top: -20px;
    color: #fff;
    border: none;
    box-shadow: none;
    &:hover {
      opacity: 0.7;
    }
    &.agregar-el {
      background: #1c86ee;
    }

    &.eliminar-el {
      background: #ff2800;
    }
  }
}

.back-button {
  margin: 15px 5px;
  padding: 10px 15px;
  color: #fff;
  border: none;
  box-shadow: none;
  background: #1c86ee;
}
