<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/diabetesblanco.png" class="logo" alt="">
  </a>
</nav>
<br>
<br>
<section>
  <div class="row">
    <div class="col-md-2 sidebar-container">
      <nav id="sidebar">
        <br>
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/admin-home']" style="padding-left: 0px; color: white;"><i
                class="fa fa-home" style="margin-right: 10px; margin-left: 10px;"></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin-profile']" style="color: white"><i class="far fa-user"
                style="margin-right: 10px; margin-left: 10px;"></i>Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-students" style="color: white"><i class="fa fa-apple-alt"
                style="margin-right: 10px; margin-left: 10px;"></i>Estudiantes</a>
          </li>
          <li class="active nav-item">
            <a class="nav-link" routerLink="/admin-courses" style="color: white"><i class="fa fa-chalkboard"
                style="margin-right: 10px; margin-left: 10px;"></i>Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white"><i class="fa fa-cog"
                style="margin-right: 10px; margin-left: 10px;"></i>Configuración</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10 content-container" style="background-color: #F2F2F2; padding: 0px 40px;" *ngIf="courses$ | async as courses">
      <div class="row" style="padding: 0 40px;" *ngIf="!showCourse">
        <button class="col-12 col-md-6 col-lg-5 create-button" data-toggle="modal" data-target="#createPresentationModal">Crear Presentación</button>
      </div>
      <div class="row" *ngIf="!showCourse" style="padding: 0 40px;">
        <div class="col-12 course" *ngFor="let course of courses">
          <div class="row" style="padding: 0px !important;">
            <div class="col-12 col-md-5 course-title">
              <h1>{{course.name}}</h1>
            </div>
            <div class="col-12 col-md-7 course-info">
              <div class="upper">
                  <h2>{{course.name}}</h2>
                  <p>{{course.description}}</p>
              </div>
              <div class="buttons">
                <button class="button pink-button" (click)="selectCourse(course)">Preview</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showCourse" [innerHTML]="selectedCourse.presentations[0].frame | keepHtml" class="embed-responsive embed-responsive-16by9">

      </div>
      <div class="modal fade create-presentation-modal" id="createPresentationModal" tabindex="-1" role="dialog" aria-labelledby="createPresentationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createPresentationModalLabel">Crear Presentación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" [(ngModel)]="frame" placeholder="Código de la presentación (requerido)"></textarea>
                <ng-select
                  [items]="courses"
                  [multiple]="true"
                  bindValue="id"
                  [closeOnSelect]="false"
                  [searchable]="false"
                  bindLabel="name"
                  placeholder="Seleccionar cursos"
                  [(ngModel)]="coursesId"
                  style="margin-bottom: 20px">
                </ng-select>
                <input class="form-control" type="text" [(ngModel)]="audioUrl" placeholder="URL del audio"/>
                <textarea class="form-control" [(ngModel)]="audioSync" placeholder="Sync de audio con presentación (1: 0, 2: 10, 3: 120)">
                </textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="createPresentation()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
