<div class="row">
  <div class="col-md-12" style="height: calc(100vh - 50px); padding: 0;">
    <br>
      <div class="card">
        <br>
          <div class="row">
            <div class="col-md-10">
                <h3>Crear mensaje</h3>
            </div>
            <div class="col-md-2">
                <button (click)="sendMessage()" class="btn btn-primary" *ngIf="selection === 'users'">Enviar mensaje a usuarios</button>
                <button (click)="sendCourseMessage()" class="btn btn-primary" *ngIf="selection === 'courses'">Enviar mensaje a cursos</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="">
                Enviar mensaje a: 
              </label>
                <select class="form-control" [(ngModel)]="selection">
                  <option value="users">Usuarios</option>
                  <option value="courses">Cursos</option>
                </select>
            </div>
          </div>
          <br>
          <div class="col-md-12">
              <div class="row">
                  <ng-select
                      class="select-dimensions"
                      [items]="allUsers"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearSearchOnAdd]="true"
                      bindLabel="first_name"
                      bindValue="id"
                      placeholder="Para: "
                      [(ngModel)]="messageRecipients"
                      *ngIf="messageRecipients && selection === 'users'">
                      <ng-template ng-option-tmp let-item="item">
                        <p>{{item.first_name}} {{item.last_name}}</p>
                      </ng-template>
                      <ng-template ng-label-tmp let-item="item" *ngIf="!loading">
                        <span aria-hidden="true" class="ng-value-icon left" (click)="removeRecipient(item.id)" style="float: left; margin-right: 5px;">×</span>
                        <p>{{item.first_name}} {{item.last_name}}</p>
                      </ng-template>
                  </ng-select>
                  <ng-select
                      [items]="allCourses"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearSearchOnAdd]="true"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Para: "
                      [(ngModel)]="selectedCourses"
                      *ngIf="selectedCourses && selection === 'courses'">
                      <ng-template ng-option-tmp let-item="item">
                        <p>{{item.name}}</p>
                      </ng-template>
                      <ng-template ng-label-tmp let-item="item" *ngIf="!loading">
                        <span aria-hidden="true" class="ng-value-icon left" (click)="removeCourse(item.id)" style="float: left; margin-right: 5px;">×</span>
                        <p>{{item.name}}</p>
                      </ng-template>
                  </ng-select>
              </div>
              <br>
              <div class="row">
                  <input type="text" class="form-control" placeholder="Asunto" [(ngModel)]="subject">
              </div>
              <br>
              <div class="row">
                  <textarea class="form-control" [(ngModel)]="content" placeholder="Mensaje" rows="10"></textarea>
              </div>
          </div>
      </div>
      <br>
  </div>
</div>
