<div class="row">
  <div class="col-md-12" style="height: calc(100vh - 50px); padding: 0;">
      <div class="card">
          <h3>Crear mensaje</h3>
          <div class="col-md-12">
              <div class="row">
                  <ng-select
                      [items]="allUsers"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearSearchOnAdd]="true"
                      bindLabel="first_name"
                      bindValue="id"
                      placeholder="Para: "
                      [(ngModel)]="messageRecipients"
                      *ngIf="messageRecipients && selection === 'users'">
                      <ng-template ng-option-tmp let-item="item">
                        <p>{{item.first_name}} {{item.last_name}}</p>
                      </ng-template>
                      <ng-template ng-label-tmp let-item="item" *ngIf="!loading">
                        <span aria-hidden="true" class="ng-value-icon left" (click)="removeRecipient(item.id)" style="float: left; margin-right: 5px;">×</span>
                        <p>{{item.first_name}} {{item.last_name}}</p>
                      </ng-template>
                  </ng-select>
                  <ng-select
                      [items]="allCourses"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      [clearSearchOnAdd]="true"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Para: "
                      [(ngModel)]="selectedCourses"
                      *ngIf="selectedCourses && selection === 'courses'">
                      <ng-template ng-option-tmp let-item="item">
                        <p>{{item.name}}</p>
                      </ng-template>
                      <ng-template ng-label-tmp let-item="item" *ngIf="!loading">
                        <span aria-hidden="true" class="ng-value-icon left" (click)="removeCourse(item.id)" style="float: left; margin-right: 5px;">×</span>
                        <p>{{item.name}}</p>
                      </ng-template>
                  </ng-select>
                  <button (click)="sendMessage()" *ngIf="selection === 'users'">Enviar mensaje a usuarios</button>
                  <button (click)="sendCourseMessage()" *ngIf="selection === 'courses'">Enviar mensaje a cursos</button>
              </div>
              <div class="row">
                  <input type="text" [(ngModel)]="subject">
              </div>
              <div class="row">
                  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="content"></textarea>
              </div>
          </div>
      </div>
      <br>
  </div>
</div>
