<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/educacionblanco.png" class="logo-nav" alt="" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Inicia sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link signup-link" href="/signup">Regístrate</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <h1>Nuestra política sobre cookies y otras tecnologías de rastreo</h1>
  <p><b>Última revisión: 17 de noviembre de 2019</b></p>
  <p>
    Este sitio web es propiedad y es operado por Roche DC México, S.A. de C.V.
    (“Roche”) con domicilio en Cerrada de Bezares 9, colonia Lomas de Bezares
    C.P. 11910, CDMX, México. Roche podrá actualizar este aviso en cualquier
    momento publicando cambios en esta página. Usted debe visitar esta página de
    vez en vez para revisar estas actualizaciones.
  </p>
  <p><b>¿Qué son las cookies?</b></p>
  <p>
    Las cookies evitan volver a ingresar cierta información en algunas áreas de
    registro, ayudan a brindarle información específica del contenido y a
    rastrear qué secciones del sitio son más populares. Una 'cookie' es en
    realidad un archivo que nuestro servidor web o el servidor web de uno de
    nuestros socios externos pueden enviar a su computadora cuando accede a uno
    de nuestros sitios. Este archivo se almacena en su ordenador. ¿Por qué
    utilizamos cookies y otras tecnologías de rastreo?
  </p>

  <p>
    Utilizamos cookies y tecnologías relacionadas para los siguientes fines:
    Después de haber ingresado información personal en un formulario o campo de
    datos en nuestro sitio, las cookies permiten que el sitio "recuerde" esa
    información, si usted así lo decide. Las cookies y otras tecnologías pasivas
    de recopilación de información nos permiten entregar contenido adaptado a
    sus intereses y preferencias con base en su actividad anterior en el sitio.
  </p>

  <p>
    Las cookies y otras tecnologías pasivas de recopilación de información nos
    permiten compilar estadísticas totales sobre el uso del sitio, analizar
    tendencias y administrar y mejorar el sitio.
  </p>
  <p>
    <b
      >¿Qué tipo de información personal se recopila mediante el uso de cookies?
    </b>
  </p>

  <p>
    Las cookies pueden obtener información identificando su ordenador o
    navegador, así como información relacionada con su historial de navegación.
    La información que obtenemos a través del uso de cookies puede combinarse
    con otros datos personales relacionados con usted.
  </p>

  <p>
    <b>¿Qué tipos de cookies y otras tecnologías de rastreo utilizamos? </b>
  </p>

  <p>
    Nuestro sitio puede utilizar, entre otros, los siguientes tipos de cookies y
    tecnologías de rastreo:
  </p>
  <p>
    <b>Cookies de sesión.</b> Las cookies de sesión son bits temporales de
    información que se borran una vez que sale de la ventana de su navegador web
    o bien apaga su computadora. Las cookies de sesión se utilizan, por ejemplo,
    para mejorar la navegación en nuestros sitios web, impedir a los visitantes
    proporcionar información cuando sea inapropiado y recopilar información
    estadística en total.
  </p>

  <p>
    <b>Cookies persistentes.</b> Las cookies persistentes son bits de
    información más prolongados, que se colocan en el disco duro de su
    computadora y permanecen allí a menos que elimine la cookie. Las cookies
    persistentes almacenan información en su computadora para una serie de
    propósitos, tales como la recuperación de cierta información que usted haya
    proporcionado previamente (por ejemplo, ID de inicio de sesión), ayudando a
    determinar cuáles son las áreas del sitio web que los visitantes encuentran
    más valiosos, y personalizando el sitio web con base en sus preferencias de
    forma continua.
  </p>

  <p>
    <b>Balizas Web.</b> Una baliza web es una pieza de código de software en una
    página web o en un mensaje de correo electrónico que se utiliza para
    rastrear las páginas visitadas o los mensajes abiertos. Las balizas Web
    brindan al servidor del sitio web información como la dirección IP y el tipo
    de navegador relacionados con el ordenador del visitante. Las balizas Web se
    pueden colocar en anuncios en línea que llevan a las personas a nuestro
    sitio y en diferentes páginas de nuestro sitio. Las balizas Web nos
    proporcionan información sobre cuántas veces se abre una página y qué
    información se consulta. Las balizas Web también se conocen como etiquetas
    de Internet, GIFs de un solo píxel, GIF transparentes y GIFs invisibles.
  </p>

  <p>
    <b>Herramientas Analíticas:</b> Nuestros sitios web pueden utilizar
    herramientas analíticas de terceros para recopilar información a través de
    cookies. Algunas herramientas específicas que utilizamos incluyen:
  </p>
  <p>
    <i>Adobe Analytics.</i> Utilizamos Adobe Analytics en nuestros sitios web,
    que recopila información a través de cookies. Si desea optar por que sus
    datos no sean utilizados por estas cookies, por favor utilice la herramienta
    de opción correspondiente de Adobe, disponible aquí:
    <a
      href="https://www.adobe.com/privacy/opt-out.html"
      target="_blank"
      rel="noopener noreferrer"
      >https://www.adobe.com/privacy/opt-out.html</a
    >.
  </p>

  <p>
    <i>Google Analytics.</i> Nuestro sitio puede usar ciertas Funciones de
    Presentación de Publicidad de Google Analytics, que recopilan información a
    través de cookies, incluido el Re-marketing con Google Analytics e informes
    Demográficos y sobre Intereses. Si desea optar por que sus datos no sean
    utilizados por estas cookies, por favor utilice la herramienta de opción
    correspondiente de Google, disponible aquí:
    <a
      href="https://tools.google.com/dlpage/gaoptout/"
      target="_blank"
      rel="noopener noreferrer"
      >https://tools.google.com/dlpage/gaoptout/</a
    >
  </p>
  <p>
    A continuación, encontrará información adicional sobre cómo inhabilitar la
    entrega de anuncios dirigidos.
  </p>

  <p>
    <b
      >¿Cómo responde nuestro sitio a las señales de "no rastrear" del navegador
      web?
    </b>
  </p>
  <p>
    Ciertos navegadores web y otros programas pueden utilizarse para indicar sus
    preferencias a Roche sobre cómo o si Roche o terceros pueden recopilar
    información sobre sus actividades en línea. Actualmente, Roche no responde a
    dichas indicaciones.
  </p>

  <p>
    <b
      >¿Qué opciones tiene con respecto a la entrega de anuncios dirigidos en
      sitios de terceros?
    </b>
  </p>

  <p>
    La mayoría de los navegadores de internet le permiten cambiar la
    configuración de su navegador para notificarle cuando reciba una cookie, lo
    que le permite elegir si desea o no aceptarla, o rechazar automáticamente
    todas las cookies. Tenga en cuenta que algunas funciones de nuestro sitio de
    web que se basan en el uso de cookies pueden no estar disponibles si usted
    elige rechazar todas las cookies. Por favor consulte nuestro
    <a routerLink="/privacidad">Aviso de Privacidad</a> para obtener más
    información acerca de sus derechos de acceso, rectificación, cancelación y
    eliminación de Datos Personales.
  </p>
</div>
<app-footer></app-footer>
