<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/diabetesblanco.png" class="logo-nav" alt="" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Inicia sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link signup-link" href="/signup">Regístrate</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <h1>Declaración Legal</h1>
  <p><b>Última revisión: 17 de noviembre de 2019</b></p>
  <p>
    El acceso al presente sitio de Internet:
    <a href="https://www.dialogodiabetescare.com"
      >www.dialogodiabetescare.com</a
    >
    (en lo sucesivo el “Sitio”) y el uso del mismo, se encuentra sujeto a los
    términos y condiciones que se establecen a continuación y a la normatividad
    vigente. Al acceder al Sitio y explorar el contenido del mismo, Usted
    acepta, sin reserva ni limitación alguna, los presentes términos y
    condiciones. También son aplicables al Sitio, las disposiciones incluidas en
    el <a routerLink="/privacidad">Aviso de Privacidad</a>.
  </p>
  <p>
    <b>Información Contenida en el Sitio.</b> El Sitio contiene información de
    Productos Roche, S.A. de C.V., de Roche Servicios de México, S.A. de C.V.,
    de Roche DC México, S.A. de C.V. y/o de sus empresas filiales, afiliadas y/o
    pertenecientes al mismo grupo económico (en lo sucesivo “Roche”) y aunque
    Roche se esfuerza en lo razonable por incluir en el Sitio información
    precisa y actualizada, Roche no ofrece garantía alguna respecto a su
    contenido, el cual se presenta "tal cual". Roche no se responsabiliza de
    ninguna contingencia relacionada con el uso del Sitio o de su contenido.
    Concretamente, Roche no se responsabiliza de la precisión, integridad,
    suficiencia, actualidad, oportunidad o el carácter exhaustivo de la
    información contenida en el Sitio, la cual podrá variar de tiempo en tiempo
    o ser modificada por Roche en cualquier momento, sin responsabilidad alguna
    y sin necesidad de dar aviso previo.
  </p>
  <p>
    Los sitios de Internet de Roche pueden contener información referente a los
    productos y servicios que Roche ofrece a nivel mundial. Algunos de dichos
    productos y servicios pueden no estar disponibles en algunos países. La
    referencia a cualquier producto o servicio de Roche en un sitio de Internet
    de Roche, no necesariamente implica que dicho producto o servicio esté
    disponible en su localidad.
  </p>
  <p>
    <b>Uso de la Información.</b> El material contenido en el Sitio tiene única
    y exclusivamente propósitos informativos. Asimismo, incluye determinadas
    secciones dirigidas solamente a aquellos profesionales de la salud que con
    tal carácter tengan acceso a las mismas, con el objetivo de permitirles
    contar con un marco de referencia sobre información técnica especializada
    relacionada con la ciencia médica.
  </p>
  <p>
    Toda la información contenida en el Sitio en ninguna forma pretende
    proporcionar una respuesta o solución a los problemas de salud de las
    personas, incluyendo pero no limitado al diagnóstico, tratamiento y formas
    de prescribir, por lo que se recomienda que todo y cualquier paciente
    siempre sea atendido y tratado directamente por un especialista de la salud.
    Cada persona debe consultar a su médico respecto de cualquier duda que pueda
    tener sobre algún padecimiento y sobre todo antes de decidirse sobre algún
    tratamiento en particular, toda vez que no se debe utilizar medicina alguna,
    de cualquier laboratorio, sin la previa prescripción y estricta supervisión
    del médico que atienda el caso específico. Es importante que los
    profesionales de la salud que tengan acceso al Sitio, consideren que todo el
    material aquí contenido, específicamente aquel dirigido a dichos
    profesionales, se incluye con el único objetivo de que cuenten con
    información de referencia adicional con respecto a los avances en el mundo
    de la medicina.
  </p>
  <p>
    Roche no se hace responsable en forma alguna de las decisiones o acciones
    tomadas en base al contenido de la información incluida en el Sitio, y la
    misma no se puede tomar en forma alguna como consejo final o específico, ya
    que las condiciones particulares al caso al que pretenda ser aplicada pueden
    cambiar o ser diferentes. Todo uso y/o aplicación de la información
    contenida en el Sitio será de la exclusiva responsabilidad de quien aplique
    dicha información.
  </p>
  <p>
    <b>Comunicación por parte de y con los Usuarios del Sitio.</b> Cualquier
    comunicación o material que Usted transmita al Sitio, mediante el correo
    electrónico o por cualquier otro medio, incluyendo cualesquiera datos,
    preguntas, comentarios, sugerencias o similares transmitidos, tendrá
    carácter no confidencial y será de propiedad no exclusiva, y recibirá el
    tratamiento correspondiente a dicha naturaleza. Cualesquiera datos que Usted
    transmita o coloque se convertirán en propiedad de Roche y podrán utilizarse
    para cualquier propósito, incluyendo, entre otros, la reproducción,
    divulgación, transmisión, publicación o emisión de los mismos. Además, Roche
    podrá utilizar libremente cualquier idea, concepto, conocimiento o técnica
    incluida en cualquier comunicación enviada por Usted al presente Sitio, para
    cualquier propósito, incluyendo, entre otros, el desarrollo, fabricación y
    comercialización de productos basados en tal información, sin
    responsabilidad alguna para Roche.
  </p>
  <p>
    Aunque Roche podrá ocasionalmente estudiar o seguir la marcha de los
    debates, charlas, transmisiones, tablones de anuncios, tablones de noticias
    y otros elementos del presente Sitio, Roche no tiene la obligación de
    efectuar dicho estudio o seguimiento y no se responsabiliza del contenido de
    tales elementos, ni de ningún error, difamación, calumnia, injuria, omisión,
    falsedad, obscenidad, pornografía, blasfemia o imprecisión en la información
    contenida en dichos elementos del presente Sitio. Se prohíbe la colocación o
    la transmisión de toda materia ilícita, amenazadora, calumniosa,
    difamatoria, obscena, escandalosa, pornográfica o blasfema, o cualquier
    materia que pudiera constituir o inducir a conductas que podrían tipificarse
    como delito, ocasionar responsabilidad civil, o vulnerar de otra forma
    cualquier normatividad. Roche colaborará plenamente con cualquier autoridad
    encargada de hacer cumplir la ley o cualquier requerimiento judicial que
    inste a Roche a revelar la identidad de cualquier persona que coloque tal
    información o material.
  </p>
  <p>
    <b>Propiedad Industrial y Derechos.</b> Las marcas, avisos, nombres
    comerciales, logotipos, signos distintivos, dibujos y en general cualquier
    obra protegida mediante la Ley Federal del Derecho de Autor, la Ley de la
    Propiedad Industrial, así como cualquier Convenio Internacional u otros
    ordenamientos legales aplicables (en lo sucesivo “los Derechos”) que se
    presentan en Los Sitios, son propiedad de Roche, su matriz, subsidiarias,
    empresas relacionadas o de sus licenciantes (en adelante “Roche”); por lo
    que está expresamente prohibido en términos de la Ley Federal de Derechos de
    Autor y la Ley de la Propiedad Industrial u otros ordenamientos legales
    aplicables; cualquier extracción, transformación, uso, utilización,
    reproducción y retransmisión, distintos a los expuestos en Los Sitios, salvo
    que exista consentimiento expreso y previo por escrito otorgado por Roche,
    respetando siempre y en todo momento la titularidad de los mismos como
    Derechos de “Roche”.
  </p>
  <p>
    Para Los Visitantes, el uso y acceso de Los Sitios es de manera gratuita;
    sin embargo, no implica cesión, licencia, autorización de uso o derecho
    sobre los Derechos o del contenido de Los Sitios.
  </p>

  <p>
    Los Visitantes podrán hacer referencia a Los Sitios, siempre y cuando se
    incluya la leyenda “© {{ date | date: 'yyyy' }} Productos Roche S. A. de
    C.V” de manera suficientemente visible y en todo momento.
  </p>

  <p>
    Toda la información y material de los sitios no podrá ser copiado,
    distribuido, impreso, otorgado en cualquier tipo de licencia, modificado,
    publicado, reproducido, vendido, transmitido, usado para crear un trabajo
    distinto al fin de los Sitios, o usado para fines públicos o comerciales, a
    excepción de que tenga el consentimiento escrito de “Roche”. La
    reproducción, copia, uso, distribución, comercialización, comunicación
    pública o cualquier otra actividad que pueda efectuarse con la información
    contenida en esta página Web y que se realice sin la autorización de ”Roche”
    es materia de infracción en términos de la Ley de la Propiedad Industrial,
    Ley Federal del Derecho de Autor y otros ordenamientos legales aplicables.
  </p>

  <p>
    Asimismo cualquier violación a los derechos intelectuales y/o industriales
    propiedad de “Roche” o empresas relacionadas pueden constituir desde una
    infracción administrativa castigada con sanciones económicas y/o
    aseguramiento de bienes y/o mercancía, hasta un delito castigado con sanción
    económica y privación de la libertad, en términos de la Ley Federal del
    Derecho de Autor, Ley de la Propiedad Industrial y otros ordenamientos
    legales aplicables.
  </p>

  <p>
    En cualquier caso de controversia que pudiera derivarse de la aplicación de
    los servicios o interpretación o aplicación de las condiciones generales,
    así como a las leyes aplicables para el caso concreto vigentes en dicho
    lugar, el usuario renuncia expresamente a cualquier otra jurisdicción que
    por motivo de su nacionalidad o domicilio pudiera corresponder.
  </p>
  <p>
    <b>Links con Sitios que Pertenecen o Son Responsabilidad de Terceros.</b>
    Los servicios de información del Sitio pueden contener vínculos para que el
    usuario pueda salir de la sección visitada y acceder a otros sitios de
    Internet de interés que son controlados o que son propiedad de personas o
    instituciones distintas a Roche, por lo que tales sitios no están bajo el
    control de Roche y, por tanto, Roche no es responsable del contenido y/o uso
    de cualquier otro sitio vinculado al Sitio. El hecho de que el usuario pueda
    hacer vínculo con otros sitios de interés o relacionados con el tema que
    está consultando, es únicamente para brindar un acceso más eficiente. Roche
    no se hace responsable por cualquier error, omisión, contenido o uso de los
    sitios o páginas que se encuentren ligados al Sitio, por lo que el usuario
    acepta que al ingresar a dichos sitios lo hace bajo su propia y exclusiva
    responsabilidad.
  </p>
  <p>
    <b>Daño a Equipo Informático.</b> Roche no se responsabiliza de ningún daño
    producido a su equipo informático u otros bienes de su propiedad, ni de
    ningún virus que pueda infectar los mismos, como consecuencia del acceso por
    parte de Usted al Sitio o de su uso o exploración del mismo, o del descargo
    por parte de Usted de cualquier material, datos, texto, imágenes o contenido
    audiovisual del presente Sitio.
  </p>
  <p>
    <b>Interrupción del Sitio.</b> Roche se reserva el derecho de interrumpir o
    suspender total o parcialmente la funcionalidad del Sitio. Roche no se
    responsabiliza de la eventual interrupción o suspensión del presente Sitio,
    sea como consecuencia de las actuaciones u omisiones de Roche, o las de
    cualquier tercero.
  </p>
  <p>
    <b>Vinculación del Sitio.</b> Se prohíbe el enmarcado del Sitio con sitios o
    elementos de sitios ajenos al de Roche. Se prohíbe asimismo la vinculación
    en línea y la incorporación por cualquier otro medio de elementos del
    presente Sitio en los sitios pertenecientes a personas o entidades ajenas a
    Roche.
  </p>
  <p>
    <b>Modificaciones.</b> Roche se reserva el derecho de modificar en cualquier
    momento tanto el contenido del Sitio como los términos y condiciones aquí
    establecidos, sin necesidad de previo aviso. Dichas modificación son
    vinculantes para Usted.
  </p>
  <p>
    <b>Sugerencias o Comentarios.</b> Si Usted tiene cualquier sugerencia o
    comentario relacionado con el contenido de nuestro Sitio, le pedimos que nos
    lo comunique llamando al: 52585000 desde la Zona Metropolitana, y desde el
    interior de la República Mexicana al 018008218887; ó vía electrónica a la
    siguiente dirección de correo mexico.info@roche.com
  </p>
</div>
<app-footer></app-footer>
