<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../../assets/diabetesblanco.png" class="logo" alt="">
    </a>
</nav>
  <br>
  <br>
<section>
    <div class="card" style="width: 70%">
            <div class="row">
                <div class="col-md-6 left-content" >
                    <div class="left-text">
                            <form class="form-signin">
                                <div class="text-center mb-4">
                                    <h1>INICIA SESIÓN</h1>
                                </div>
                            
                                <div class="form-label-group" style="text-align:start">
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus [(ngModel)]="email" name="email">
                                    <label for="inputEmail">Correo electrónico</label>
                                </div>
                            
                                <div class="form-label-group" style="text-align:start">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required [(ngModel)]="password" name="password">
                                    <label for="inputPassword">Contraseña</label>
                                </div>
                            
                                <div class="checkbox text-muted" style="text-align: left">
                                    <label>
                                    <input type="checkbox" value="remember-me"> Recordarme
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-pink" type="button" (click)="login()" style="color: white">Sign in</button>
                            </form>
                    </div>
                </div>
                <div class="col-md-6 right-content">
                    <div class="right-text">
                        <h1 style="color: white">¿NO TIENES CUENTA?</h1>
                        <br><br>
                        <div class="form-group">
                                <button class="btn btn-lg btn-pink" style="color: white" [routerLink]="['../signup']">
                                    Registrar
                                </button>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>
</section>
  