<div class="row">
  <div class="col-md-12 content-container" style="height: calc(100vh - 50px);">
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <i class="fas fa-chalkboard"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 md-offset-1">
        <div class="card">
          <div class="card-body">
            <i
              class="far fa-user"
              style="margin-right: 10px; margin-left: 10px;"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 md-offset-1">
        <div class="card">
          <div class="card-body">
            <i class="far fa-clock"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3 md-offset-1">
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-md-3 md-offset-1">
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
