<div class="row">
  <div class="col-md-12 content-container" style="height: calc(100vh - 50px);">
    <br />
    <br />
    <br />

    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-md-3 md-offset-1">
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-md-4 md-offset-1" style="overflow-y: scroll; height:400px;">
        <div class="card">
            <div *ngIf="courses$ | async as courses" class="card-body">
                <h5>Cursos</h5>
                <div *ngFor="let course of courses" style="border-bottom: 1px solid gray;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <b><span>{{course.name}}</span></b>
                      </div>
                      <div class="row">
                        <span> <i class="fas fa-eye"></i>{{course.viewed_lessons_count}}</span>
                      </div>
                      <div class="row">
                        <button class="btn btn-lg btn-pink" style="color: white" (click)="navigateToCourse(course)">
                          Editar curso
                        </button>
                      </div>
                      <div class="row">
                        <span>Creado el: {{course.created_at | date: 'dd/MM/yyyy'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                    <h5>Correo</h5>
                    <br>
                    <button (click)="navigateToMessages()" class="btn btn-light"><i class="fas fa-edit"></i>Escribir</button>
                  </div>
                </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                    <button class="btn btn-light" (click)="navigateToProfile()">
                        <i class="fas fa-user"></i> <h5>Perfil</h5>
                    </button>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>