.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 15px;
  margin-top: 30px;
  color: #ffffff;
  width: 1000px;
  height: 300px;
  font-weight: bold;
  text-align: center;
}

.main-title {
  font-family: 'Monserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 80px;
}
