.content-container {
  margin-top: 30px;
}

.btn-pink {
  background-image: linear-gradient(#ed82b6, #e45f96, #e45f96);
  display: inline-block;
  margin-top: 10px;
}

.create-button {
  background: #fff;
  color: #b4b4b4;
  font-size: 23px;
  padding: 20px 0px;
  box-shadow: none;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  margin: 20px 0px;
  outline: none;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
.courses {
  background: #fff;
  padding: 0;
  margin-top: 25px;
  height: auto;
}
.course {
  text-overflow: ellipsis;
  margin-bottom: 40px;
  background: #fff;
  height: auto;
  padding: 0;
  height: 100%;
  .course-title {
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    background: #1288ca;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 50px 10px;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .course-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    height: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    h4 {
      color: #fff;
      font-weight: 700;
      text-align: left;
      font-size: 14px;
      margin: 30px 0;
      margin-bottom: 15px;
    }
    ul {
      list-style-type: none;
      padding: 15px 25px 0 3.5rem;
      position: relative;
      li {
        cursor: pointer;
        min-height: 85px;
        counter-increment: list;
        position: relative;
        font-weight: 700;
        font-size: 14px;
        outline: none !important;
        &:before {
          content: '';
          position: absolute;
          left: -1.7rem;
          top: 30px;
          height: 60%;
          width: 1px;
          border-left: 1px solid #fff;
        }
        &:after {
          content: counter(list);
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: -2.5rem;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background: transparent;
          color: #fff;
          font-weight: 400;
          font-size: 13px;
          text-align: center;
          border: 1px solid #fff;
        }
        &:last-child {
          &:before {
            border: none;
          }
        }
        &:hover {
          opacity: 0.5;
        }
        &.element-active {
          &:after {
            background: #fff;
            color: #333;
          }
        }
        &.element-completed {
          opacity: 0.6;
          color: #fff;
          &:after {
            content: '\2713';
            font-weight: 400;
            background: #fff;
            color: #333;
          }
        }
      }
    }
    .presentations {
      ul {
        list-style-type: none;
        li {
          color: #707070;
          display: flex;
          padding: 15px 0;
          align-items: center;
          cursor: pointer;
          .presentation-position {
            width: 33px;
            height: 33px;
            border-radius: 3px;
            border: 1px solid #707070;
            padding: 3px;
            font-size: 20px;
            text-align: center;
            align-self: center;
          }
          .presentation-title {
            font-size: 20px;
            font-weight: 900;
            align-self: center;
            margin-left: 30px;
            flex: 1;
          }
          .presentation-date {
            margin-right: 50px;
            font-size: 20px;
          }
        }
      }
    }
    .buttons {
      .pink-button {
        background: #ff62a5;
        color: #fff;
        text-transform: uppercase;
        box-shadow: none;
        text-decoration: none;
        border: none;
        font-size: 16px;
        padding: 15px 45px;
        border-radius: 20px;
        font-weight: 600;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

.create-presentation-modal,
.create-course-modal {
  input,
  textarea {
    margin-bottom: 20px;
  }
}
