<div class="row">
  <div
    class="col-md-12"
    style="height: calc(100vh - 60px); padding: 0; border-left: 1px solid rgba(0, 0, 0, 0.5);"
    *ngIf="{ course: course$ | async, currentIndex: currentIndex$ | async } as values"
  >
  <div class="course" *ngIf="values.course">
        <div class="row" style="height: 100%;">
          <div class="col-3 course-info">
            <h4>{{ values.course?.name }}</h4>
            <div>
              <ul>
                <li
                  *ngFor="let element of values.course.elements; let i = index"
                  routerLinkActive="element-active"
                  class="presentation"
                  [ngClass]="{
                    'element-completed': values.currentIndex > i
                  }"
                  [routerLink]="['/inicio/cursos', values.course.id, i]"
                >
                  <div
                    *ngIf="element.frame; else activity"
                    class="element-div"
                  >
                    {{ element.title }}
                  </div>
                  <ng-template #activity>
                    <div class="element-div">
                      {{ element.name }}
                    </div>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-9 course-element">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
</div>
