<div class="row">
  <div class="col-md-12" style="height: calc(100vh - 50px); padding: 0;">
    <div
      class="row"
      *ngIf="{
        currentUser: currentUser$ | async
      } as values"
    >
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <div class="row">
                <div class="col-md-2 initials">
                  {{ getInitials(values.currentUser) }}
                </div>
                <div class="col-md-9 md-offset-1">
                  {{ values.currentUser.first_name }}
                  {{ values.currentUser.last_name }}
                </div>
              </div>
            </h3>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <b>Nombre</b>
              </div>
              <div class="col-md-8">
                <p>
                  {{ values.currentUser.first_name }}
                  {{ values.currentUser.last_name }}
                </p>
              </div>
              <div class="col-md-4">
                <b>Correo electrónico</b>
              </div>
              <div class="col-md-8">
                <p>{{ values.currentUser.email }}</p>
              </div>
              <div class="col-md-4">
                <b>Teléfono</b>
              </div>
              <div class="col-md-8">
                <p>{{ values.currentUser.cellphone }}</p>
              </div>
              <div class="col-md-4">
                <b>Inscripción</b>
              </div>
              <div class="col-md-8">
                <p>
                  {{ values.currentUser.created_at | date: 'dd/MM/yyyy HH:mm' }}
                </p>
              </div>
              <div class="col-md-4">
                <b>Ultima conexión</b>
              </div>
              <div class="col-md-8">
                <p>
                  {{
                    values.currentUser.last_log_in_at | date: 'dd/MM/yyyy HH:mm'
                  }}
                </p>
              </div>
            </div>
            <hr />
            <p><i class="fas fa-sync"></i> Actividad Reciente</p>
            <hr />
            <div>
              <cdk-virtual-scroll-viewport
                itemSize="20"
                class="virtual-scroll-viewport"
              >
                <ul>
                  <li *cdkVirtualFor="let action of actions">
                    {{ action?.created_at | date: 'dd/MM/yyyy HH:mm' }}:
                    {{ action?.content }}
                  </li>
                </ul>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
