ul.message-type{
  margin-top: 20%;
  list-style-type: none;
  padding: 0;
  li{
    border-bottom: 1px solid gray;
    border-radius: 3px;
    height: 60px;
  }
  li.active-item {
    background-color: rgba(182, 185, 182, 0.678)
  }
  hr{
    width: 100%;
  }
}
ul{
  padding: 0;
  list-style-type: none;
  li.message-item {
    border-bottom: 1px solid gray;
  }
}
