<div class="row">
  <div class="col-md-12" style="height: calc(100vh - 50px); padding: 0;">
    <br>
      <div class="card">
          <br>
              <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" (click)="compose()">Escribir mensaje</button>
                    <ul class="message-type">
                        <li [ngClass]="selection === 'inbox' ? 'active-item' : ''" (click)="switchSelection('inbox')">
                            Recibidos
                        </li>
                        <li [ngClass]="selection === 'sent' ? 'active-item' : ''" (click)="switchSelection('sent')">
                            Enviados
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <h3>Mensajes</h3>
                    <hr>
                    <ul>
                        <li class="message-item" *ngFor="let message of allMessages">
                            <p><b>{{message.subject}}</b>:  <span>{{message.content}}</span></p>
                        </li>
                    </ul>
                </div>
                </div>
      </div>
      <br>
  </div>
</div>
