<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/diabetesblanco.png" class="logo-nav" alt="" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Inicia sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link signup-link" href="/signup">Regístrate</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">

    <p>
        Al hacer clic en "Crear cuenta", autorizo ​​a Roche y a sus proveedores de
        servicios a utilizar cualquier información que yo proporcione para ayudarme a
        ofrecer información relevante sobre los servicios, programas y productos de
        Roche. Entiendo que cualquier información que yo proporcione puede ser
        compartida con mi proveedor de atención médica pertinente y utilizada por
        Roche para ayudar a mejorar los servicios y programas.
      </p>

      <p>
        Entiendo y acepto que Roche y sus proveedores de servicios pueden ponerse en
        contacto conmigo por correo, correo electrónico y teléfono con información
        relevante relacionada con la salud. En ocasiones, me pueden contactar para
        participar en estudios de investigación de mercado. En el futuro, si ya no
        desea ser contactado o desea recibir materiales relacionados con la salud,
        llame al (Pendiente)
      </p>

      <p>
        Roche respeta su información de salud personal. Roche y sus proveedores de
        servicios no venderán ni alquilarán su información personal de salud. Sus
        datos personales pueden ser vistos por los empleados de Roche o los
        proveedores de servicios de Roche para los propósitos descritos anteriormente,
        y tal vez almacenados o accedidos desde países fuera del país en el que se
        encuentran. Sus datos serán salvaguardados de acuerdo con las políticas
        globales de privacidad y seguridad de información de Roche.
      </p>

      <p>
        Para obtener más información sobre cómo Roche procesa sus datos personales,
        consulte la Política de privacidad de Roche en. Si tiene alguna pregunta,
        envíe un correo electrónico a (pendiente)
      </p>

</div>
