<div class="wrapper">
  <nav id="sidebar" [ngClass]="collapsedSideBar ? 'active' : ''">
    <ul class="list-unstyled components">
      <li class="nav-item toggler">
        <i class="fa fa-bars" (click)="toggleSideBar()"></i>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa fa-home"></i> <span>Inicio</span>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/perfil']"
      >
        <i class="far fa-user"></i> <span>Perfil</span>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/alumnos']"
      >
        <i class="fa fa-apple-alt"></i> <span>Estudiantes</span>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/cursos']"
      >
        <i class="fa fa-chalkboard"></i> <span>Cursos</span>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/mensajes']"
      >
        <i class="fa fa-envelope"></i> <span>Mensajes</span>
      </li>
      <!--Cambiar aqui rutas para el componente de slides en traduccion-------->
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/link']"
      >
        <i class="fa fa-book"></i> <span>Bomba de Insulina</span>
      </li>
      <!-- Termina cambios de JC Traduccion de slides------------------>
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLink]="['/admin/configuracion']"
      >
        <i class="fa fa-cog"></i> <span>Configuración</span>
      </li>
      <li class="nav-item logout" (click)="logout()">
        <i class="fa fa-sign-out-alt"></i><span>Cerrar sesión</span>
      </li>
    </ul>
  </nav>
  <nav id="bottombar">
      <ul class="list-unstyled components">
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/admin/perfil']"
          >
            <i class="far fa-user"></i>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/admin/alumnos']"
          >
            <i class="fa fa-apple-alt"></i>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/admin/cursos']"
          >
            <i class="fa fa-chalkboard"></i>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/admin/mensajes']"
          >
            <i class="far fa-envelope"></i>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
            [routerLink]="['/admin/configuracion']"
          >
            <i class="fa fa-cog"></i>
          </li>
          <li class="nav-item logout" (click)="logout()">
            <i class="fa fa-sign-out-alt"></i>
          </li>
        </ul>
  </nav>

  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="sidebar-header">
        <img src="../../assets/diabetes.png" class="logo-nav-black" alt="" [routerLink]="['/inicio']" />
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
