<div class="row">
  <div class="col-md-10 content-container" style="padding: 0px 40px;">
    <br /><br />
    <h1>Usuarios</h1>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Cluster</th>
              <th scope="col">Cédula</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Especialidad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <th scope="row">{{ student.first_name }}</th>
              <td></td>
              <td>{{ student.professional_license }}</td>
              <td>{{ student.city }}</td>
              <td>{{ student.speciality }}</td>
              <td>
                <a [routerLink]="['/admin/student-profile', student.id]"
                  ><b>Ver</b></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
