<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 banner-container">
        <img src="https://via.placeholder.com/1000x300" alt="" class="banner" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card courses-card">
          <div class="card-body">
            <h3 class="card-title">{{ course.title }}</h3>
            <div *ngFor="let lesson of course.lessons" class="row">
              <div class="col-md-6">
                <p>{{ lesson.description }}</p>
              </div>
              <div class="col-md-4">
                <div class="progress" style="margin-top: 10%;">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width]="lesson.progress + '%'"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ lesson.progress }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
