<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 banner-container">
        <img src="/assets/banner.jpg" alt="" class="banner" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card courses-card" style="margin-bottom: 10px;">
          <div class="card-body">
            <h3 class="card-title">Tus cursos</h3>
            <div *ngIf="courses$ | async as courses">
              <div *ngIf="courses.length > 0; else noCourses">
                <div *ngFor="let course of courses" class="row course-row">
                  <div class="col-md-8 course-name">
                    <p>{{ course.name }}</p>
                  </div>
                  <div class="col-md-4 course-actions">
                    <button
                      class="btn-pink dialogo-btn"
                      [routerLink]="[
                        '/inicio/cursos',
                        course.id,
                        getNext(course)
                      ]"
                    >
                      Iniciar
                    </button>
                  </div>
                </div>
              </div>

              <ng-template #noCourses>
                <h4>Todavía no tienes cursos</h4>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
