@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import '~@ng-select/ng-select/themes/default.theme.css';
$blue: #113f67;


body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: $blue;
}

.logo-nav {
  height: 40px;
}

.logo-nav-black {
  height: 60px;
}

.card {
  color: $blue;
  border-radius: 10px;
  border-width: 2px;
}

.btn-info {
  background: black;
  border-color: black;
}

.big-icon {
  font-size: 4.2rem;
  color: $blue;
}

.text-center {
  text-align: center;
}

.link-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.logo {
  width: 11vw;
  height: 11vh;
}

.border-card {
  box-shadow: -9px 7px 9px 4px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 5px;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 0 !important;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $blue;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: $blue;
}
a.article,
a.article:hover {
  background: $blue !important;
  color: #fff !important;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

@media (maz-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
}

@media (min-width: 893px) {
  #sidebarCollapse {
    margin-left: 80%;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .big-icon {
    margin-left: 30%;
  }

  .first-col {
    margin-left: 5%;
  }

  .section—first {
    height: 90vh;
  }

  .cover {
    max-height: 70%;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .text-content {
    margin-top: 10%;
    height: 35vh;
    width: 15vw;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .big-icon {
    margin-left: 30%;
  }

  .first-col {
    margin-left: 4%;
  }

  .section—first {
    height: 90vh;
  }

  .cover {
    max-height: 80%;
  }

  .col-md-3 {
    max-width: 60% !important;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .text-content {
    margin-top: 10%;
    height: 35vh;
    width: 20vw;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .big-icon {
    margin-left: 10%;
  }

  .section—first {
    height: 90vh;
  }

  .first-col {
    margin-left: 4%;
  }

  .cover {
    max-height: 80%;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .text-content {
    margin-top: 10%;
    height: 25vh;
    width: 20vw;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .big-icon {
    margin-left: 15%;
  }

  .section—first {
    height: 90vh;
  }

  .cover {
    max-height: 80%;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .text-content {
    margin-top: 10%;
    height: 55vh;
    width: 80%;
    margin-left: 10%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .big-icon {
    margin-left: 42%;
  }

  .section—first {
    height: 90vh;
  }

  .logo {
    max-width: 25vw;
    height: auto;
  }

  .cover {
    max-height: 80%;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .text-content {
    margin-top: 10%;
    height: 20vh;
    width: 100%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .big-icon {
    margin-left: 38%;
  }

  .section—first {
    height: 90vh;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cover {
    max-height: 80%;
  }

  .text-content {
    margin-top: 10%;
    height: 25vh;
    width: 100%;
  }
}

.img-section {
  margin-top: 0px;
  height: 85vh;
  background: url(./assets/cover.jpg);
  background-position: center;
  background-size: cover;
}

.row {
  margin: 0 !important;
}

//needed in all pages
.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 15px;
  color: #ffffff;
  width: 336px;
  height: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.locked-img {
  margin-top: 30px;
}

.locked-icon {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20%;
  margin-left: 35%;
}

.active {
  background-color: #252525;
  opacity: 80%;
}
.nav-item {
  text-align: left;
}
.nav-link {
  text-align: left;
}

.course-card {
  height: 200px;
  width: 858px;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  margin-bottom: 30px;
}

.card-text {
  color: #113f67;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  margin-right: 15px;
}

.dialogo-btn {
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-pink {
  background: #e45f96;
  display: inline-block;
  margin-top: 10px;
}

.content {
  width: 100%;
}

.sv_complete_btn {
  background: #007bff;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.7;
  }
}

.initials {
  padding: 0;
  background-color: #3333;
  text-align: center;
  border-radius: 20px;
  height: 32px;
}

.student-initials {
  padding: 0;
  background-color: #3333;
  text-align: center;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 12px;
  height: 40px;
  width: 20px !important;
  h3 {
    margin-top: 4px;
  }
}

.course-row {
  margin: 5px 0px !important;
}

.virtual-scroll-viewport {
  height: 400px;
  width: 100%;
}
