<div class="row">
  <div class="col-md-11">
      <h1 style="font-weight: bold; color: #113F67">
          ¡Bienvenido!
      </h1>
      <br>
      <p>En esta parte podrás acceder a todos los cursos disponibles para ti, revisar tu avance y consultar tus resultados en cada
              uno de los cursos. Éxito!</p>
      <br>
      <div *ngFor="let course of courses" [ngClass]="course.show ? 'course-card' : '' ">
          <div class="row border-card">
              <div class="col-md-1">
                  <img src="/assets/guiadiabetes.jpg" style="border-radius: 20px" alt="">
              </div>
              <div class="col-md-7 offset-md-4">
                  <div class="row" style="font-weight: bold; color: #113F67; text-align: center">
                      <h1>{{course.name}}</h1>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-md-12">
                              <p class="card-text">
                                  {{course.description}}
                              </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-8">
                          <div class="progress" style="margin-top: 10%;">
                              <div class="progress-bar" role="progressbar" [style.width]="0 + '%'" aria-valuemin="0" aria-valuemax="100">0%</div>
                          </div>
                      </div>
                      <div class="col-md-2 offset-md-1">
                              <a [routerLink]="['/inicio/cursos', course.id, 0]" class="btn btn-lg btn-pink" style="color: white">
                                  Iniciar
                              </a>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      </div>
  </div>
</div>
