#sidebar {
    position: fixed;
    background-color: #252525;
    height: 91.3vh;
    text-align: center;
    width: 15vw;
    color: white;
    font-weight: bold;
    background-image: image()
}

.tag {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 15px;
  color: #FFFFFF;
  width: 336px;
  height: 200px;
  border-radius: 20px;
  font-weight: bold;
}

.locked-img {
  margin-top: 30px;
}

.locked-icon {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20%;
  margin-left: 35%;
}

.active{
    background-color: #252525;
    opacity: 80%;
}
.nav-item {
    text-align: left;
}
.nav-link{
    text-align: left;
}

.course-card{
    height: 200px;
    width: 858px;
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    margin-bottom: 30px;
}


.card-text{
    color: #113F67;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    margin-right: 15px;
}

.btn-pink {
    background-image: linear-gradient(#ED82B6,#E45F96, #E45F96);
    display: inline-block;
    margin-top: 10px;
  }