<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/diabetesblanco.png" class="logo" alt="">
  </a>
</nav>
<section class="img-section">
</section>
<br>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1 col-xs-12">
          <div class="card">
            <div class="card-body" [routerLink]="['/login']">
                <h2 class="text-center">Profesionales de la Salud</h2>
            </div>
          </div>
      </div>
      <div class="col-md-5 offset-md-1 col-xs-12">
          <div class="card">
            <div class="card-body" [routerLink]="['login']">
                <h2 class="text-center">Sesiones Personalizadas</h2>
            </div>
          </div>
      </div>
    </div>
    <br><br><br><br><br>
  </div>
</section>
<footer class="footer">
    <div class="container">
      <br>
      <span class="text-center">Aviso de privacidad</span>
    </div>
  </footer>
