<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../assets/diabetesblanco.png" class="logo" alt="">
  </a>
</nav>
<section>
    <img src="../../assets/cover.jpg" class="img-fluid cover" alt="Responsive image">
</section>
<br>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 first-col col-xs-12">
          <div class="card">
            <div class="card-body">
              <i class="far fa-id-card big-icon"></i>
              <!--img src="../../assets/iconomaestros.svg" alt=""-->
              <h2 class="text-center">PACIENTES</h2>
            </div>
          </div>
          <div class="text-content">
              <h5 class="text-center">CONSULTA</h5>
              <p class="text-center">Información oportuna y completa sobre la diabetes.</p>
              <p class="text-center">Dietas específicas y recomendaciones sobre alimentación sana.</p>
              <a class="link-bottom" href="#"><p class="text-center">Ver más</p></a>
          </div>
      </div>
      <div class="col-md-3 offset-md-1 col-xs-12">
          <div class="card">
            <div class="card-body">
                <i class="fas fa-graduation-cap big-icon"></i>
                <h2 class="text-center">ALUMNOS</h2>
            </div>
          </div>
          <div class="text-content">
              <h5 class="text-center">APRENDE</h5>
              <p class="text-center">Cursos completos con la información necesaria para guiar, 
                cuidar y tratar a una persona con diabetes.</p>
              <a class="link-bottom" href="#"><p class="text-center">Ver más</p></a>
          </div>
      </div>
      <div class="col-md-3 offset-md-1 col-xs-12">
          <div class="card">
            <div class="card-body">
                <i class="fas fa-book-open big-icon"></i>
                <h2 class="text-center">MAESTROS</h2>
            </div>
          </div>
          <div class="text-content">
              <h5 class="text-center">ENSEÑA</h5>
              <p class="text-center">Crea tu propia clase.</p>
              <a class="link-bottom" href="#"><p class="text-center">Ver más</p></a>
          </div>
      </div>
    </div>
  </div>
</section>