<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/diabetesblanco.png" class="logo-nav" alt="">
    </a>
</nav>
  <br>
  <br>
<section>
    <div class="card" style="width: 70%">
            <div class="row">
                <div class="col-md-12 left-content" >
                    <div>
                            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="text-center mb-4">
                                    <h1>INICIA SESIÓN COMO ADMINISTRADOR</h1>
                                </div>

                                <div class="form-group">
                                        <div class="form-label-group" style="text-align:start">
                                                <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required autofocus formControlName="email">
                                                <label for="inputEmail">Correo electrónico</label>
                                            </div>
                                </div>

                                <div class="form-group">
                                        <div class="form-label-group" style="text-align:start">
                                                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required formControlName="password">
                                                <label for="inputPassword">Contraseña</label>
                                            </div>
                                </div>
                                <div class="checkbox text-muted" style="text-align: left">
                                    <label>
                                    <input type="checkbox" value="remember-me"> Recordarme
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-pink" style="color: white">Inicia sesión</button>
                            </form>
                    </div>
                </div>
            </div>
    </div>
</section>
